---
import Layout from "~/components/Layout.astro";
---

<Layout title="Gallery">
    <main class="container mx-auto px-4">
        <div
            class="prose dark:prose-invert prose-lg xl:prose-2xl mx-auto py-16 text-center"
        >
            <p>
                Why Peeling Onions? Peeling an onion exposes layer upon layer; each interesting in itself and covering further layers which shield the core – the spirit of the concrete or metaphorical concept that I am exploring. I love to seek the essence of things (physical or emotional). My voyage to the core may be tormenting, joyous, confusing, sad or exhausting. It is always revealing. After each creative journey, I feel that I have found a kernel of truth.

                I am inspired by looking at nature; even the microscopic – the line or curve of a leaf or blade of grass, the expression of a tree, the shape of a cloud, the curve of someone's lips, the shape and outline of rocks.  I look at negative space and like to turn it into positive space. I immerse myself in the landscape and look closely at what is actually there.
                
                 
                Often, I have a concept for my work; an inequality, an injustice or even a feeling that I am trying to express. At other times, I just feel like making something to express my joy or unhappiness. It is cathartic, sometimes difficult (technically, conceptually and emotionally) and mostly time-consuming.
                
                For conceptual art, I use the narrative of an experience; a struggle, a journey, an interpretation or reaction to the subject, or the expression of other peoples’ experiences as I am able to construe them.
                
                I use a range of materials and techniques: sculptures, installations, printmaking, encaustic, mixed media, alcohol inks, digital and photography. My art is diverse and some aspects not always liked, but that is not why I make it.  The creative process enables me to feel at one with nature, the universe and myself. I find peace. Once you find that, you know you are in the right place.
                
                I particularly love the organic properties of clay; malleable, earthy and strong. I can express an entirety of things that often don't seem to be able to be put into words. My clay sculptures are hand built by sculpting, coiling or both.  I prefer natural finishes.
                
                After a long break where work commitments and life-in-general did not allow me to produce, a recent illness stirred me to resume my practice. This provides an outlet for my emotion, perspective and creativity. Art balances my life. I hope that, in at least some way, my art will speak to you.
            </p>
        </div>
    </main>
</Layout>
